<div class="container-fluid">
    <div class="col-xs-12">
        <h1 style="text-align: center">Search Clans</h1>
        <div class="col-xs-10 col-xs-push-1">
            {{input value=searchVal class="form-control"}}
            <div style="text-align:center">
            <button class="btn btn-large btn-primary"{{action 'search' searchVal}}>Search</button>
            </div>
        </div>

    </div>





</div>